[Desktop Entry]
Name=Oboete
Exec=oboete %F
Terminal=false
Type=Application
StartupNotify=true
Icon=dev.mariinkys.Oboete
Categories=X-COSMIC;Utility;FileManager;
Keywords=App;Software;Manager;
MimeType=inode/directory;
