[Desktop Entry]
Name=Oboete
Exec=oboete %F
Terminal=false
Type=Application
StartupNotify=true
Icon=dev.mariinkys.Oboete
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=inode/directory;
